#GEMINI API KEY 
GEMINI_API_KEY=AIzaSyBdjDvaBkSaskJJwsufTLpHyLe5vG5X7k4

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=

# Azure AI Search
AZURE_SEARCH_ENDPOINT=https://
AZURE_SEARCH_ADMIN_KEY=
AZURE_SEARCH_INDEX_NAME=t

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=text-embedding-ada-002
AZURE_OPENAI_API_VERSION=2024-12-01-preview
